@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color background */
  --background: #FAFAFA;
  --backgroundblack: #1E1E1E;

  /* primary */
  --neutral-0: #FFFFFF;
  --neutral-25: #F8FAFC;
  --neutral-50: #F1F5F9;
  --neutral-100: #E2E8F0;
  --neutral-200: #CBD5E1;
  --neutral-300: #94A3B8;
  --neutral-400: #64748B;
  --neutral-500: #475569;
  --neutral-600: #334155;
  --neutral-700: #1E293B;
  --neutral-800: #0F172A;
  --neutral-900: #020617;

  /* font */
  --font-nunito: 'Nunito Sans', sans-serif;
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-dm-mono: 'DM Sans Mono', monospace;
}

/* default body */
body {
  background: var(--background);
}
